@tailwind base;
@tailwind components;
@tailwind utilities;


body {
 
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../../public/backgroundImg.png");
  background-color: #0c0f11;
  
  
}
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.movie{
  overflow-x: hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}


.first-part{
  background-image: url("../../public/back.png");
}

